.table {
  margin-top: 20px;
  border: 1px solid black;
  width: 100%;
}
.tableHead {
  border: 1px solid black;
  background-color: black;
  color: white;
}
.tableBody:nth-child(even) {
  background-color: gray;
}
.tableBodyRow {
  margin: 0;
  border: 1px solid black;
}
.tableBodyRowType {
  text-align: right;
}
